<div class="links">
	<a href="/appts" class="btn btn-lg link-btn">Booking Times</a>
	<a href="/booked" class="btn btn-lg link-btn">Booked Times</a>
</div>

<div class="table-responsive container">
	<table class="table table-bordered">
		<tr>
			<td>Sun</td>
			<td>Mon</td>
			<td>Tue</td>
			<td>Wed</td>
			<td>Thu</td>
			<td>Fri</td>
			<td>Sat</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><a href="">1</a></td>
			<td><a href="">2</a></td>
			<td><a href="">3</a></td>
			<td><a href="">4</a></td>
			<td><a href="">5</a></td>
		</tr>
		<tr>
			<td><a href="/appts">6</a></td>
			<td><a href="/appts">7</a></td>
			<td><a href="/appts">8</a></td>
			<td><a href="/appts">9</a><h4>6 people booked</h4></td>
			<td><a href="/appts">10</a><h4>4 people booked</h4></td>
			<td><a href="/appts">11</a></td>
			<td><a href="/appts">12</a></td>
		</tr>
		<tr>
			<td><a href="/appts">13</a></td>
			<td><a href="/appts">14</a></td>
			<td><a href="/appts">15</a><h4>2 people booked</h4></td>
			<td><a href="/appts">16</a></td>
			<td><a href="/appts">17</a></td>
			<td><a href="/appts">18</a><h4>4 people booked</h4></td>
			<td><a href="/appts">19</a></td>
		</tr>
		<tr>
			<td><a href="/appts">20</a></td>
			<td><a href="/appts">21</a></td>
			<td><a href="/appts">22</a><h4>8 people booked</h4></td>
			<td><a href="/appts">23</a><h4>6 people booked</h4></td>
			<td><a href="/appts">24</a><h4>7 people booked</h4></td>
			<td><a href="/appts">25</a><h4>7 people booked</h4></td>
			<td><a href="/appts">26</a></td>
		</tr>
		<tr>
			<td><a href="/appts">27</a></td>
			<td><a href="/appts">28</a><h4>10 people booked</h4></td>
			<td><a href="/appts">29</a><h4>No more open slots</h4></td>
			<td><a href="/appts">30</a><h4>12 people booked</h4></td>
			<td><a href="/appts">31</a></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>